extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Karla Ortiz Martinez

        p Full Stack JavaScript Developer


        .about-bio

          p Welcome! My name is Karla and I am a Full Stack JavaScript developer with 2-years of experience. My path to software engineering has been non-traditional. I originally began my career in the education field as a Chemistry teacher. I taught chemistry for two years before transitioning into the Non-Profit Sector. My passion for making Computer Science more accessible to all drove me to support bringing in HTML, CSS, and JS curriculum into various schools in the Bay Area. As I worked with students and various engineers across the Bay Area to not only bring the skills necessary to getting a career in tech but also the connections needed to students, I found myself enthralled with the curriculum provided to students. I took it upon myself to learn more about HTML, CSS, and JavaScript, eventually taking JS courses to deepen my learning. I aspire to become a full-time Software Engineer in education-technology to continue pursuing my passion of bringing CS education to all. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 702-502-7300
          li karla.ortiz.martinez47@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/karla-ortiz-mtz/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/kortiz47' target='_blank') GitHub
        //- a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back