extends layout.pug

block content

    #global-error
        h1 #{status} Error - #{message}
        h1 Try searching for a different project - there are currently #{projectsCount} projects available.
        img(src='/static/images/500_error_img.png', width='500' height='225')
        br
        a(href='https://ginbits.com/solutions-to-the-500-internal-server-error/') 
            p Image Credit to Ginbits
        br
        u
            a(href='/') 
                p 
                    strong ✹✹✹BACK TO HOME PAGE✹✹✹