extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p Hello there, welcome to my portfolio! Throughout this website, you will find front-end projects that showcase my skills using HTML, CSS, and client-side JS. You are able to browse through each project to see the repositories as well as their live sites! Additionally, if you like anything you see here feel free to send me a message or invitation on LinkedIn - I would love to connect!


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='cover image of project')
            h5= project.project_name
