extends layout.pug

block content

    #page-not-found
        h1 #{status} Error - #{message}
        img(src='/static/images/404_error_img.jpg', width='1000', height='550')
        br
        a(href='https://www.vecteezy.com/vector-art/6549647-404-landing-page') 
            p Image Credit to Vecteezy
        br
        u
            a(href='/') 
                p 
                    strong ✹✹✹BACK TO HOME PAGE✹✹✹